div.bg-white
    div.container
        div.row.justify-content-center.pb-2.pb-md-3
            div.col-12.col-md-11.col-lg-10.col-xl-9
                headline
                    h3= data.headline
                article!= data.htmlcontent
