section.p-0.o-hidden
    div.container
        div.slider-highlight-selected(data-flickity='{ "autoPlay": true, "cellAlign": "center", "contain": true, "imagesLoaded": true, "wrapAround": true }')
            for ditem in data
                div.col-md-6.col-xl-5.text-center.carousel-cell
                    img.img-fluid(src=ditem)
