section.p-0.o-hidden(class=data.class)
    div.container
        div.slider-highlight-selected(data-flickity='{ "autoPlay": true, "cellAlign": "center", "fade": true, "imagesLoaded": true, "setGallerySize": true, "pageDots": false }')
            for ditem in data.imagelist
                div.col-12.col-xl-10.text-center.carousel-cell
                    img.img-fluid(src=ditem)
