section(class=data.class)
    div.container
        div.row.justify-content-center.text-center
            div.col-12.col-md-11.col-lg-10.col-xl-9
                for imgitem in data.imagelist
                    img.img-fluid(src=imgitem)
