section.bg-light
    div.container
        div.row
            each item in data
                div.media.col-12.col-lg-6.p-3
                    i.mr-3(class=item.faicon)
                    div.media-body
                        h5.mt-0= item.headline
                        span!= item.htmlcontent
