<!-- Go to Top Begin -->
a.js-go-to.u-go-to(href="javascript:;", data-position='{"bottom": 15, "right": 15 }', data-type="fixed", data-offset-top="300",
  data-compensation="#header", data-show-effect="slideInUp", data-hide-effect="slideOutDown")
    i.material-icons keyboard_arrow_up
<!-- Note: Need to add script part below the body -->
<!-- Go to Top End -->