section.controls-inside.p-0.controls-light.bg-dark(data-flickity='{ "cellAlign": "left", "contain": true, "imagesLoaded": true, "wrapAround": true, "prevNextButtons": true }')
    for ditem in data
        div.height-70.carousel-cell.py-3.py-md-4.height-40
            img.bg-image.opacity-50(src=ditem.bg_image)
            div.container
                div.row
                    div.col-12.col-md-6
                        h1.display-4.text-white!= ditem.headline
                        p.lead.text-white!= ditem.descript
                        a.btn.btn-primary.btn-lg(href=ditem.button_link)!= ditem.button_caption   