footer.bg-dark.spacer-y-3
    div.container
        div.row
            div.col-xl-6.col-lg-5.col-md-4.mb-3.mb-md-0
                a(href="/")
                    img(src="./assets/imgs/icon-1.svg")
            div.col-xl-6.col-lg-7.col-md-8
                div.list-group
                    a.list-group-item.list-group-item-action.d-flex.justify-content-between.align-items-center.bg-dark.px-0(href="#")
                        div.d-flex.align-items-center
                            span.mb-0.h5.text-white 解决方案
                        i.material-icons.d-block.text-white keyboard_arrow_right
                    a.list-group-item.list-group-item-action.d-flex.justify-content-between.align-items-center.bg-dark.px-0(href="#")
                        div.d-flex.align-items-center
                            span.mb-0.h5.text-white 产品详情
                        i.material-icons.d-block.text-white keyboard_arrow_right
                    a.list-group-item.list-group-item-action.d-flex.justify-content-between.align-items-center.bg-dark.px-0(href="#")
                        div.d-flex.align-items-center
                            span.mb-0.h5.text-white 关于我们
                        i.material-icons.d-block.text-white keyboard_arrow_right
                ul.list-unstyled.mt-2.mt-md-3
                    li.py-1
                        a.text-white(href="#") 支持中心
                    li.py-1
                        a.text-white(href="#") 隐私条款
                    li.py-1
                        a.text-white(href="https://insight.mediumra.re") Insight Website
        div.row.justify-content-between.align-items-center.mt-3.mt-md-4
            div.col-lg-auto.col-12.order-lg-2
                ul.list-social-links.d-flex.mb-lg-0
                    li.text-white
                        a(href="#")
                            i.socicon-facebook
                    li.text-white
                        a(href="#")
                            i.socicon-twitter
                    li.text-white
                        a(href="#")
                            i.socicon-youtube
                    li.text-white
                        a(href="#")
                            i.socicon-linkedin
                    li.text-white
                        a(href="#")
                            i.socicon-instagram
            div.col.order-lg-1
                span.text-white.opacity-60 &copy; 2019 版权归 
                    a.text-white(href="/") 测试网站
                    |  所有，MIT许可证授权号：LKGB8888
