section.row.no-gutters.p-0.bg-white
    div.col-md-5.col-xl-6.d-flex.flex-column.order-md-2
        img.bg-image.position-md-absolute.opacity-80(src=data.bg_image)
    div.col-md-7.col-xl-6.order-md-1.height-60.height-md-70
        div.row.w-100.no-gutters.justify-content-center.py-4
            div.col-md-10.col-lg-9.col-xl-8.p-3
                h1.display-4!= data.headline
                p.lead!= data.descript
                a.btn.btn-lg.btn-info.text-white(href=data.button_link)!= data.button_caption
