section.bg-primary.spacer-y-3
    div.container
        div.row.justify-content-center
            div.col.col-12.text-center
                span.d-block.mb-3.h2.text-white!= data.headline
                if data.button_caption != ''
                    a.btn.btn-lg.btn-light(href=data.button_link)!= data.button_caption
                span.d-block.mt-3.mb-3.text-white!= data.descript
