section.p-0.bg-dark
    img.bg-image.position-md-absolute.opacity-80(src=data.bg_image)
    div.container.py-4.height-md-60
        div.row
            div.col-md-7.col-lg-6.spacer-y-3
                h1.display-4.text-white!= data.headline
                p.lead.text-white!= data.descript
                a.btn.btn-lg.btn-primary.text-white(href=data.button_link)!= data.button_caption
