section.height-70.bg-gradient
    img.bg-image.opacity-60(src=data.bg_image)
    div.container
        div.row.text-center
            div.col
                h1.display-2.font-alt-1.text-white!= data.headline
                p.lead.d-block.mb-3.text-white!= data.descript
                a.btn.btn-lg.btn-warning.text-white(href=data.button_link)!= data.button_caption
