extends template_base

block header-scripts

block footer-scripts
    script(type="text/javascript", src="./cdn/js/flickity.pkgd.min.js")
    script(type="text/javascript", src="./cdn/js/smooth-scroll.polyfills.min.js")
    script(type="text/javascript", src="./cdn/js/jquery.smartWizard.min.js")
    script.
        $(document).ready(function() {
            var mrSmoothScroll = new SmoothScroll("a.nav-link", {
                speed: 500,
                speedAsDuration: true
            });

            $(".wizard").smartWizard({
                transitionEffect: 'fade',
                showStepURLhash: false,
                toolbarSettings: 
                {
                    toolbarPosition: 'none'
                }
            });
        });