doctype html
html
    head
        title= htmlWebpackPlugin.options.title
        //- favicon was set in 'webpack.build.files.js'
        //- link(rel='shortcut icon', href='./favicon.ico' type='image/x-icon')
        //- link(rel='icon', href='./favicon.png', type='image/png')
        //- link(rel='apple-touch-icon', sizes='180x180', href="./favicon.png")

        //- common css, corresponding to the dir 'dist/'     
        //- link(rel='stylesheet', href='./cdn/css/bootstrap.min.css')
        link(rel='stylesheet', href='./cdn/css/all.min.css')
        link(rel='stylesheet', href="./cdn/css/magnific-popup.css")
        link(rel='stylesheet', href="./cdn/fonts/material-icons.css")
        link(rel='stylesheet', href='./assets/css/insight-theme.css', type="text/css", media="all")
        link(rel='stylesheet', href="./assets/css/custom-base.css")

        block header-scripts

        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    body.p-0
        div#page-top
        //- JQuery, Bootstrap, FontAwesome Script Begin 
        script(src='./cdn/js/jquery-3.3.1.min.js')
        script(src='./cdn/js/bootstrap.bundle.min.js')
        script(src="./cdn/js/all.min.js")
        //- JQuery, Bootstrap, FontAwesome Script End 
        block footer-scripts
        //- script(src='./assets/js/insight-theme.js')  // Check this script file out as a reference.
