section.bg-light
    div.container.height-md-30
        div.row
            p= data.newsperpage
            div.col-md-8.col-lg-7.col-xl-6
                for nlitem in data.newslist
                    p= nlitem.newsid
